node_modules/
.vscode/
__pycache__/
*.db
.env
.env.local
.DS_Store
backend/.venv/
.venv/
frontend/.next/
frontend/.turbo/
backend/mediahub.db
tv-app/tv_app/node_modules
tv-app/tv_app/android/build
tv-app/tv_app/.gradle
